<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>#1</title>

    <style>
        div#app { padding: 30px; margin: 30px auto; max-width: 600px; }
        span { display: inline-block; margin: 5px; padding: 8px 15px; 
          border: 1px solid black; }
      </style>
    
</head>
<body>
    <div id="app">
        <input type="text" v-model="num" />
        <button v-on:click="create(num)">생성</button>
        <div v-if="state" style="margin-top: 20px;">
            <span v-for="i in arr" >
                {{i}}
            </span>
        </div>
        

    </div>
    <script type="text/javascript">
        var app=new Vue({
            el:'#app',
            data:{
                num:0,
                arr:[],
                state:false
            },
            methods:{
                create(num){
                    this.state=true;
                    let arr=[];
                    for(let i=0;i<num;i++){
                        arr[i]=Math.floor(Math.random()*10);
                    }
                    this.arr=arr
                },
            }
        })
    </script>
</body>
</html>